@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
}



nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: .3rem;
}
nav img{
    width: 5rem;
    border-radius: 1rem;
    box-shadow: -5px 5px 5px gray;
}

nav h1{
    font-family: 'Sixtyfour Convergence', sans-serif;
    font-size: 2rem;
}
#menu{
    display: flex;
    flex-direction: column;
    margin: .1rem;
}
#menu a{
    text-decoration: none;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    margin-top: 2rem;
}
#rede-social{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.rede-social{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: .2rem;
}

.footer{
    height: 5rem;
    width: 15rem;
}

footer img{
    width: 1.5rem;
}

footer p{
    text-align: center;
}


main{
    display: flex;
    flex-direction: row;
    margin: 3rem;
}
#convite{
    width: 6rem;
    height: 5rem;
}
#texto{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

#qr{
    width: 10rem;
}

main h2{
    font-family: 'Literata', serif;
    font-weight: 200;
}

.perfil{
    box-shadow: -2px 5px 10px 1px ;
    border-radius: 2rem;
    padding: 2rem;
} 
#perfil{
    width: 10rem;
    border-radius: 100%;
}
.descricao{
    margin-left: 2rem;
}

.vitoria{
    background-color: #48A0BB;
    box-shadow: #353A3C;
    /*#48A0BB #508191 #32BCE5 #495F66 #353A3C*/
}

.arthur{
    background-color: #BB3A2E;
    box-shadow: #3B2D2C;
    /*#3B2D2C #663F3B #E62412 #91433C #BA3A2F #BB3A2E*/
}