@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: .2rem .6rem;    
}
nav img{
    width: 5rem;
    border-radius: 1rem;
    box-shadow: -5px 5px 5px gray;
}
nav h1{
    font-family: 'Sixtyfour Convergence', sans-serif;
    font-size: 2rem;
}
#menu{
    display: flex;
    flex-direction: column;
    margin: .1rem;
}
#menu a{
    text-decoration: none;
}
footer{
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    margin-top: 2rem;
}

#rede-social{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.rede-social{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: .2rem;
}

.footer{
    height: 5rem;
    width: 15rem;
    align-items: center;
    justify-content: center;
}

footer img{
    width: 1.5rem;
}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    text-justify: center;
}

footer.fim{
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul{
    list-style-type: none;
    text-decoration: none;
}

body{
    background-color: whitesmoke;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3rem;
}
#convite{
    width: 6rem;
    height: 5rem;
}
#texto{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.descricao li, .descricao p{
    margin-top: .3em;
}

#qr{
    width: 10rem;
}

main h2{
    font-family: 'Literata', serif;
    font-weight: 200;
}

.perfil{
    box-shadow: -2px 5px 10px 1px ;
    border-radius: 2rem;
    padding: 2rem;
} 
#perfil{
    width: 10rem;
    border-radius: 100%;
}
.descricao{
    margin:  0rem 1rem;
    width: 30rem;
}
.contato a{
    color:black;
    display: flex;
    align-items: center;
}
#contato{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#contato li{
    padding: 1rem;
}

.contato img{
    width: 1.5rem;
}
.corpo_cartao{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

form{
    width: 100%;
}
form, form>button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form > .formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 30em;
}

.form > input{
    height: 3rem;
    font-family: monospace;
}

.form>input, .form>textarea{
    width: 20rem;
    text-align: center;
}
.form{
    margin: .7em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
}

#enviar{
    width: 6em;
    height: 3em;
    background-color: green;
    color: white;
    border-radius: .3rem;
    font-family: 'Literata', serif;
    font-weight: 600;
    font-size: 1rem;
}


.vitoria{
    color: white;
    background-color: #48A0BB;
    box-shadow: #353A3C;
    /*#48A0BB #508191 #32BCE5 #495F66 #353A3C*/
}

.vitoria a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.vitoria.contato{
    background: rgb(72,160,187);
    background: linear-gradient(139deg, rgba(72,160,187,1) 0%, rgba(50,188,229,1) 25%, rgba(53,58,60,1) 100%);
}

.arthur{
    background-color: #BB3A2E;
    box-shadow: #3B2D2C;
    /*#3B2D2C #663F3B #E62412 #91433C #BA3A2F #BB3A2E*/
}

.arthur.contato{
    background: rgb(240,31,0);
    background: linear-gradient(139deg, rgba(240,31,0,1) 0%, rgba(215,154,148,1) 26%, rgba(145,67,60,1) 90%);
}
.max{
    color: white;
    background-color: #C52C21;
    box-shadow: rgb(51, 15, 15);
}

.max.contato{
    background: rgb(240,31,0);
    background: linear-gradient(139deg, rgba(240,31,0,1) 0%, rgba(0,92,239,1) 26%, rgba(255,255,255,1) 90%);
}

.video{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
#video{
    border-radius: .4rem;
    aspect-ratio: 16 / 9;
    height: 30rem;
}